.form{
    display: table;
    
}
.inputForm{
    width: 450px;
    margin-right: 40px;
    display: table-cell;
    
}

.deviseDropDown {
    margin-top: 40px;
    width: 450px;
}
.line1{
    display: inline;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
  }
  .checkboxCloture{
      margin-top: 40px;
  }
  .saveButton{
      margin-top: 30px;
  }
  .accountNumber{
    display: inline-block;
  font-size: 20px;
  padding: 20px;
  }
